In [1]:
import os
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
def getData():
    # Get home data from CSV file
    dataFile = None
    if os.path.exists('home_data.csv'):
        print("-- home_data.csv found locally")
        dataFile = pd.read_csv('home_data.csv', skipfooter=1)

    return dataFile

In [3]:
data = getData()
data.head()

-- home_data.csv found locally

C:\Users\vanhu\AppData\Local\Temp\ipykernel_25352\3913075788.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dataFile = pd.read_csv('home_data.csv', skipfooter=1)

,num_bed,year_built,longitude,latitude,num_room,num_bath,living_area,property_type,num_parking,accessible_buildings,...,emergency_shelters,emergency_water,Facilities,fire_stations,Cultural,Monuments,police_stations,Vacant,Free_Parking,askprice
0,2,1993,-73.669677,45.537392,5.0,1,97.55,9,1,5,...,26,185,11,26,42,14,15,1,36,272800
1,2,2003,-73.565143,45.492742,5.0,1,94.02,9,1,5,...,27,213,216,37,62,41,17,43,48,421000
2,2,1996,-73.625817,45.498158,7.0,2,93.37,9,1,5,...,36,284,210,40,73,44,23,43,51,364000
3,2,2002,-73.553805,45.499028,4.0,1,78.97,9,1,4,...,25,199,216,34,61,41,18,43,49,420000
4,5,1946,-73.624906,45.505063,9.0,3,167.23,9,1,5,...,35,294,210,42,75,45,24,43,52,719000

In [4]:
data.columns

Index(['num_bed', 'year_built', 'longitude', 'latitude', 'num_room',
       'num_bath', 'living_area', 'property_type', 'num_parking',
       'accessible_buildings', 'family_quality', 'art_expos',
       'emergency_shelters', 'emergency_water', 'Facilities', 'fire_stations',
       'Cultural', 'Monuments', 'police_stations', 'Vacant', 'Free_Parking',
       'askprice'],
      dtype='object')

In [5]:
def linearRegressionModel(X_train, Y_train, X_test, Y_test):
    linear = linear_model.LinearRegression()
    linear.fit(X_train, Y_train)
    score_trained = linear.score(X_test, Y_test)
    rmse = np.sqrt(np.mean((linear.predict(X_test) - Y_test) ** 2))
    return (score_trained,rmse, linear)

def lassoRegressionModel(X_train, Y_train, X_test, Y_test):
    lasso_linear = linear_model.Lasso(alpha=1.0)
    lasso_linear.fit(X_train, Y_train)
    score_trained = lasso_linear.score(X_test, Y_test)
    rmse = np.sqrt(np.mean((lasso_linear.predict(X_test) - Y_test) ** 2))
    return (score_trained , rmse, lasso_linear)

In [8]:
attributes = list(
    [
        'num_bed',
        'year_built',
        'num_room',
        'num_bath',
        'living_area',
    ]
)
Y = data['askprice']
X = data[attributes]

X_train, X_test, Y_train, Y_test = train_test_split(np.array(X), np.array(Y), test_size=0.2)

linear = linearRegressionModel(X_train, Y_train, X_test, Y_test)
print( 'Linear Score = ' , linear[0], 'Linear RMSE = ' , linear[1])

lasso = lassoRegressionModel(X_train, Y_train, X_test, Y_test)
print ('Lasso Score = ', lasso[0], 'Lasso RMSE = ', lasso[1])

Linear Score =  0.3198153443371956 Linear RMSE =  102832.59819811952
Lasso Score =  0.31981895201960375 Lasso RMSE =  102832.32548699295